.outerContainer {
  display: flex;
  justify-content: center;
}

.grid {
  z-index: 1;
  display: grid;
  grid-gap: 16px;
}

.me {
  grid-template-columns: repeat(1, 1fr);
  margin: 5rem 0;
}

.all {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10rem;
  margin-bottom: 7rem;
}

.mobileGrid {
  margin-top: 3rem;
  grid-template-columns: repeat(1, 1fr);
}
