.donationDescription {
  color: #fff;
  margin-top: 5px;
  font-size: 20px;
}

.input {
  margin: 0;
  border: 0;
  color: #fff;
  width: 70px;
  outline: none;
  font-size: 28px;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid #c2c4cc;
}
