.earlyText {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: var(--logs-text-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Effra Bold";
}

.donationTitle {
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--donation-title-color);
}

.donationDescription {
  color: var(--white);
  margin-top: 5px;
  font-size: 2rem;
  font-family: Effra Bold;
}

.mobileDonationDescription {
  font-size: 1.6rem;
}

.range {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  > span {
    font-size: 0.8rem;
    color: var(--donation-range-color);
  }
}

.input {
  margin: 0;
  border: 0;
  color: var(--white);
  width: 80px;
  outline: none;
  font-size: 2rem;
  font-family: "Effra Bold";
  text-align: center;
  background-color: transparent;
}
