@import "../styles/breakpoints.scss";

.outerContainer {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.innerContainer {
  max-width: 950px;
  min-height: 545px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 2px solid #fff;
}

.noBorder {
  border: 0;
}

.fullWidth {
  width: 50%;
}

.column {
  width: 50%;
}

.leftColumn {
  @include breakpoint(xs) {
    display: none;
  }
}
.rightColumn {
  @include breakpoint(xs) {
    width: 100%;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.firstRow {
  height: 60%;
  position: relative;
}

.secondRow {
  height: 20%;
  align-items: end;
  padding-left: 25px;
  padding-right: 25px;
}

.lastRow {
  height: 20%;
  align-items: end;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.borderLeft {
  border-left: 2px solid #fff;
}

.image {
  border-top-left-radius: 17px;

  @include breakpoint(xs) {
    border-top-right-radius: 17px;
  }
}
