.container {
  height: 100%;
  padding: 25px;

  .text {
    height: 80%;

    .title {
      margin: 0;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: var(--logs-text-color);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .location {
      margin: 0.5rem 0;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 1px;
      background: var(--logs-text-subtitle);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text {
      color: var(--logs-text-narrative);
      font-size: 1.05rem;
      letter-spacing: 1px;
      line-height: 1.8rem;
    }
  }

  .footer {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .button {
      background: none;
      outline: 0;
      border: 0;
      height: 40px;
      cursor: pointer;
    }

    .entry {
      font-size: 1rem;
      margin-bottom: 15px;
      text-transform: uppercase;
      color: var(--logs-text-footer);
    }
  }
}
