.button {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 32px;
  background: var(--button-primary-background-color);

  &:disabled {
    cursor: not-allowed;
  }

  .text {
    font-size: 1rem;
    font-family: "Effra Bold";
    line-height: 21px;
    color: var(--button-primary-text-color);
    letter-spacing: 0.5px;
    text-align: center;
  }
}

.fullWidth {
  width: 100%;
}
