@import "../../styles/breakpoints.scss";

.outerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  max-width: 960px;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;

  > div {
    margin: 5px;
  }
}

.column {
  width: 50%;
}

.leftColumn {
  @include breakpoint(xs) {
    display: none;
  }
}
.rightColumn {
  background: var(--card-background-color);
  border-radius: 24px;
  @include breakpoint(xs) {
    width: 100%;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.firstRow {
  height: 50%;
}

.secondRow {
  height: 30%;
  align-items: end;
  padding-left: 25px;
  padding-right: 25px;
}

.lastRow {
  height: 20%;
  align-items: end;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
