.nav {
  text-align: center;
  padding: 0.5rem 0;
  position: absolute;
    top: 20px;
    right: 0;
    left: 0;

  .link {
    color: var(--navigation-text-color);
    font-size: 1.2rem;
    font-family: "Effra Bold";
    margin: 0 1rem;
    padding-bottom: 0.5rem;
  }

  .active {
    color: var(--navigation-active-text-color);
    border-bottom: 2px solid var(--navigation-border-color);
  }
}