.nav {
  margin-right: 1.5rem;
  text-align: center;

  .link {
    color: var(--navigation-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 15px;
    padding-bottom: 0.5rem;
  }

  .active {
    color: var(--navigation-active-text-color);
    border-bottom: 2px solid var(--navigation-border-color);
  }
}
