.button {
  height: 48px;
  width: 180px;
  outline: none;
  font-size: 16px;
  line-height: 1em;
  border: 0;
  border-color: #181a20;
  border-radius: 5px;
  border: 1px solid;
  background-color: #fff;
  color: #181a20;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;

  &:hover {
    background-color: #181a20;
    border-color: #fff !important;
    color: #fff;
  }
}

.minted {
  color: #fff;
}
