@import "../../styles/breakpoints.scss";

.walletInfo {
  display: flex;
}

.container {
  padding: 4px 8px;
  background: #0D1315;
  border-radius: 8px;
  display: flex;

  @include breakpoint(xs) {
    margin-right: 0;
  }
}

.network {
  color: #fff;
  font-size: 12px;

  @include breakpoint(xs) {
    display: none;
  }
}

.address {
  color: #fff;
  font-size: 1rem;
  line-height: 18px;

  @include breakpoint(xs) {
    display: none;
  }
}
