#fullpage {
  .section {
    background-size: cover;
    background-position: center center;
    background-color: transparent !important;

    &:first-child {
      background-image: url(/assets/main-background.jpg);
    }

    &:nth-of-type(2) {
      background-image: url(/assets/dark-background.png);
    }

    &:last-child {
      background-image: url(/assets/dark-background.png);
    }
  }

  .fp-tableCell {
    display: inline-block;
    vertical-align: inherit;
  }
  
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: #cdffe6!important;
}

#menu .active {
  color: var(--navigation-active-text-color)!important;
  border-bottom: 2px solid var(--navigation-border-color);
}