#fullpage {
  .section {
    background-size: cover;
    background-position: center center;
    background-color: transparent !important;

    &:first-child {
      background-image: url(/assets/main-background.jpg);
    }

    &:nth-of-type(2) {
      background-image: url(/assets/dark-background.png);
    }

    &:last-child {
      background-image: url(/assets/dark-background.png);
    }
  }

  .fp-tableCell {
    display: inline-block;
    vertical-align: inherit;
  }
}
