.rc-slider {
  margin: 10px 0px;
}

.rc-slider-handle {
  width: 16px;
  height: 16px;
  border: 0;
  background-color: var(--donation-bullet-color);
}

.rc-slider-rail {
  height: 8px;
  background-color: black;
}

.rc-slider-track {
  height: 8px;
  background-color: transparent;
  background: var(--donation-slider-rail-color);
}
