@import "../../../styles/breakpoints.scss";

.cellContainer {
  display: inline-grid;

  .image {
    border-radius: 12px;
    object-fit: cover;
  }

  @include breakpoint(xs) {
    width: 360px;
  }

  .tokenId {
    top: -22px;
    position: relative;
    left: 6px;
    font-size: 1rem;
    font-family: "Effra Bold";
    color: var(--white);
  }
}

.all {
  height: 180px;
}

.me {
  height: 400px;
}

.mobile {
  height: 180px;
}

.middle {
  top: -80px;
  position: relative;
}
