.tab {
  z-index: 1;
  margin: 3rem 0;
  text-align: center;
  cursor: pointer;

  .link {
    color: var(--navigation-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 30px;
    padding-bottom: 1rem;
  }

  .active {
    color: var(--navigation-active-text-color);
    border-bottom: 2px solid var(--navigation-border-color);
  }

  .disabled {
    cursor: not-allowed;
  }
}
