@import "../../styles/breakpoints.scss";

.header {
  @include breakpoint(xs) {
    display: none;
  }

  display: flex;
  align-items: center;
  padding: 20px;

  .end {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
