@import "../../styles/breakpoints.scss";

.header {
  display: flex;
  align-items: center;
  background-color: rgb(24, 26, 32);

  .end {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .title {
    margin: 0px;
    letter-spacing: 1px;
    font-size: 24px;
    color: #fff;
    margin: 0px;
  }
}
